:root {
    --goo-blue: #3f3fff;
}

html {
    width: 100vw;
    height: 100vh;
}
.logo{
    width: 80px;
    height: 40px;
    margin-left: 10px;
}

.b {
    background-color: var(--goo-blue);
    color: black;
    text-align: center;
    margin: 50px;
    margin-left: 10px;
    border-radius: 3px;
}

.b:hover{
    opacity: 0.8;
}

main {
    overflow-x: hidden;
    width: 100%;
    position:absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.na {
    text-align: center;
    color: black;
}

div.services {
    display: block;
    margin: auto;
    margin-top: 400px;
}

div.services span {
    display: inline-block;
    margin: 0.25em;
}