:root {
  --goo-blue: #3f48cc;
  --nav-bar: #808080;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
.logo {
  width: 80px;
  height: 40px;
  margin-left: 10px;
}

.page {
  position: absolute;
  top: 10%;
  left: 26%;
}

.services-container {
  background-color: var(--nav-bar);
  border: none;
  border-radius: 5px;
  display: block;
  width: max-content;
  margin: auto;
}

.b {
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}
main {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

div.services {
  display: block;
}

div.services span {
  display: inline-block;
  margin: 0.25em;
}

img.main-logo {
  padding-left: 25vw;
  padding-right: 25vw;
  width: 50vw;
  height: auto;
}

span.service-card {
  display: inline-block;
  border: 2px ridge var(--goo-blue);
  border-radius: 1vw;
}

span.service-card a img {
  width: 10vw;
  height: auto;
}

span.service-card a div {
  text-align: center;
}

.title {
  text-align: center;
}

p.mission {
  text-align: center;
  font-style: italic;
}

div.footer {
  background-image: linear-gradient(#80808000, #808080ff);
  padding: 2em;
  width: 100%;
  margin-top: 3em;
}
